html,body {
    margin: 0px;
    padding: 0px;
    text-align: justify;
    background-color:#41B3A3;

}
#main-body {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: left;
  

  
}


 h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family:sans-serif
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align:center;
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
  
  }

  p1 {
    font-size: 1.2em;
    line-height: 1.5;
    text-align:left;
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  
  }
  br {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  /* Add styles to links */
  a {
    color: #0077c0;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
#navbar {
    list-style: none;
    display: flex;
    padding: 10px;
}

#navbar h1 {
    color:white
}
  h6 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    
}

.image-container {
    display: flex;
  }
  
  .image-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  .third-image-container {
    text-align: center;
  }
  
  .third-image-container div {
    display: inline-block;
  }
  
  .third-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  .third-image-container p {
    margin-top: 10px;
  }

  .top-image-container {
    display: flex;
    justify-content: center;
  }
  
  .top-image-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .top-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  .bottom-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom-image-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bottom-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  .bottom-image-container p {
    margin-top: 10px;
    text-align: center;
  }
.centered-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.centered-image-container p {
  margin-top: 10px;
  text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container iframe {
    margin: 10px;
  }

footer{
    text-align: center;
}
 